<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      .bg{
        background-color:rgb(178, 248, 248);
      }
    </style>
</head>
<body class="bg">
    <form method="post"  action="/add">
      Item:<input type="text" name="itm" required><br><br>
      Image:<input type="image" name="img" required><br><br>
      description:<textarea name="dp" required></textarea><br><br>
      Discount:<input type="number" name="dc" required><br><br>
      Shipping Charge:<input type="number" name="sc" required><br><br>
      MRP:<input type="number" name="pp" required><br><br>
      
      <button type="submit">Add</button>
    </form>
</body>
</html>

